@import url("https://use.typekit.net/wes7qed.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito, sans-serif;
}

#titulos{
    text-align: left;
}

#titulo{
    font-size: 24px;
    color: #2B4061 ;
    font-weight: bold;
}
#subtitulo{
    font-size: 16px;
    color: #2B4061 ;
    font-weight: bold;

}

#legendas{
    font-size: 14px;
    color: #2B4061;
}

#linke{
text-decoration: none;
}

#textoinp{
    border: 1px solid #2B4061;
    background-color: white;
}

#textoinp3{
    border: 1px solid #2B4061;
    width: 100%;
}

#sombra{
    background-color: #f7f7f7;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px rgba(3, 42, 74, 15%);
    border-radius: 10px;
}
#buscar{
    border: 1px solid #2B4061;
    border-radius: 20px;
    padding: 2%;
 }

#meio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#addon-wrapping{
    background-color: white;
    border: none;
    width: 10%;
}

#botoes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    float: right;
}
.botao1{
    margin-left: 2%;
}

#btn1{
    background-color: white;
    color: #2B4061;
    border: none;
    font-size: 20px;
    padding: 20%;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 20px;
}

.input-group-text{
    background-color: none;
}

#btn2{
    background-color: #D4AF37;
    color: #2B4061 ;
    border: none;
    font-size: 20px;
    padding: 20%;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 20px;

}